__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.env
.env.*

.vscode/
.idea/

sandbox/

# countdown
src/content_automation_system/agents/countdown/scripts/

# Local PowerShell cache
/Microsoft/
