__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.env
.env.*

.vscode/
.idea/

playground/

# content_agent
src/content_automation_system/content_agent/credentials/

# countdown_agent
src/content_automation_system/countdown_agent/scripts/

# Local PowerShell cache
/Microsoft/
